<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogPath></LogPath>
  <!--数据库相关配置-->
  <DB>
    <ConnStrings>
      <ConnString name="SLWETL" str="Data Source=DB3;User ID=SLWDSJ;Password=fsugic" type="Oracle"/>
      <ConnString name="GISETL" str="Data Source=DB4;User ID=GISETL;Password=fsugic" type="Oracle"/>
    </ConnStrings>
  </DB>
  <!--Thrift相关配置-->
  <thrift>
    <ConnConfigs>
      <ConnConfig name="SLW" host="localhost" port="9002" timeout="0"/>
    </ConnConfigs>
  </thrift>

  <!--自定义配置-->
  <Custom>
    <GisDataFolder>../GisData</GisDataFolder>
    <TempDataFolder>../Temp</TempDataFolder>
    <TempGDB>../GisData/Temp.gdb</TempGDB>
  </Custom>
</configuration>